<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="components/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=" type="text/javascript"></script>


  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <ons-navigator var="navi" page="page.html" ng-controller="AppController as app">
  </ons-navigator>
  <ons-template id="page.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"> </div>
        <div class="center">{{this.application_name}}</div>
        <div class="right"> </div>
      </ons-toolbar>

      <section style="margin-top: 30px">
        <ul class="list list--inset">
          <li class="list-item list--inset__item list-item--tappable input-area" ng-click='app.go_search("src")'>
            <div class="list-item__left">
              <span class="start_index">出発</span>
            </div>
            <div id="src" class="list-item__center">{{this.search.src}}</div>
          </li>
          <li class="list-item list--inset__item list-item--tappable input-area" ng-click='app.go_search("dest")'>
            <div class="list-item__left">
              <span class="dest_index">到着</span>
            </div>
            <div id="dest" class="list-item__center">{{this.search.dest}}</div>
          </li>
        </ul>
      </section>

      <section style="margin-top: 20px">
        <div class="list list--inset" style="text-align: center;">
          <div ng-click="app.setTime()" class="list--inset__item list-item--tappable input-area" style="display: flex;justify-content: center;align-items: center;">
              <ons-icon style="margin-right: 5px" icon="fa-clock-o"></ons-icon>
              {{this.time | date: "M月d日（EEE）a hh時mm分"}}
          </div>
        </div>

        <ul class="list list--inset">
          <div class="tabbar tabbar--top tabbar--top-border">
            <label class="tabbar__item tabbar--top-border__item">
              <input type="radio" name="top-tabbar-type" ng-model="type" value="start" ng-change="app.changeSearchType()" checked="checked">
              <button class="tabbar__button tabbar--top-border__button">
                出発
              </button>
            </label>

            <label class="tabbar__item tabbar--top-border__item">
              <input type="radio" name="top-tabbar-type" ng-model="type" value="arrive" ng-change="app.changeSearchType()">
              <button class="tabbar__button tabbar--top-border__button">
                到着
              </button>
            </label>
          </div>
        </ul>

        <ul class="list list--inset" style="margin-top: 10px">
          <li class="list-item list--inset__item">
            <div class="list-item__left" style="width: 25px">
              <ons-icon icon="fa-group"></ons-icon>
            </div>
            <div class="list-item__center">
              <span style="margin-right: 10px">人数：</span>{{this.people_n}}人
            </div>
            <div class="list-item__right">
              <button ng-click="this.people_n=this.people_n-1" class="fab fab--material fab--mini" ng-disabled="this.people_n==1"><i class="zmdi zmdi-minus"></i></button>
              <i style="width: 5px"></i>
              <button ng-click="this.people_n=this.people_n+1" class="fab fab--material fab--mini"><i class="zmdi zmdi-plus"></i></button>
            </div>
          </li>
        </ul>
        

        <ul class="list list--inset" style="margin-top: 10px">
          <li class="list-item list--inset__item">
            <div class="list-item__left" style="width: 25px">
              <ons-icon icon="fa-gear"></ons-icon>
            </div>
            <span style="margin-right: 10px">優先：</span>
            <ons-checkbox input-id="walk" ng-model="tp.walk"></ons-checkbox><span class="condition-unit">徒歩</span>
            <ons-checkbox input-id="bicycle" ng-model="tp.bicycle"></ons-checkbox><span class="condition-unit">自転車</span>
            <ons-checkbox input-id="bus" ng-model="tp.bus"></ons-checkbox><span class="condition-unit">バス</span>
          </li>
        </ul>
        

      </section>

      <div style="text-align: center">
        <ons-button class="button--material button--large--cta" style="width: 80%; margin: 40px auto;" ng-click="app.go_timeline()">
          検索
        </ons-button>
      </div>

    </ons-page>
  </ons-template>

  <ons-template id="search.html">
    <ons-page ng-controller="SearchController as sc">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{sc.title}}を選択</div>
      </ons-toolbar>

      <section style="padding-top: 5px">
        <div class="navigation-bar">
          <div class="navigation-bar__center" style="text-align: center">
            <input type="search" class="search-input search-input--material" ng-model="spot_name" style="width: 90%; margin: 6px auto 6px auto;" placeholder="{{sc.title}}を入力">
          </div>
        </div>

        <section>
          <div class="tabbar tabbar--top tabbar--top-border">
            <label class="tabbar__item tabbar--top-border__item">
              <input type="radio" name="top-tabbar-b" ng-model="sc.check" value={{sc.ViewSurroundings}} ng-change="sc.changeView()">
              <button class="tabbar__button tabbar--top-border__button">
                周辺
              </button>
            </label>

            <label class="tabbar__item tabbar--top-border__item">
              <input type="radio" name="top-tabbar-b" ng-model="sc.check" value={{sc.ViewHistory}} ng-change="sc.changeView()">
              <button class="tabbar__button tabbar--top-border__button">
                履歴
              </button>
            </label>

          </div>
        </section>
      </section>

      <section ng-style="sc.surroundings_style">
        <ons-list>
          <ons-list-item ng-repeat="i in sc.surroundings|filter: {spot_name: spot_name} | limitTo: 10" ng-click="sc.setSpot(i.spot_name)" modifier="chevron tappable">
            <div style="width: 70%" class="list__item__center">
              <div class="spot_name">{{i.spot_name}}</div>
            </div>
            <div class="sc-list__item__right">
              <div class="distance">{{i.distance}}</div>
            </div>
          </ons-list-item>
        </ons-list>
      </section>

      <section ng-style="sc.history_style">
        <ons-list>
          <ons-list-item ng-repeat="h in sc.history" ng-click="sc.setSpot(h)" modifier="chevron tappable">
            <div style="width: 70%" class="list__item__center">
              <div class="spot_name">{{h}}</div>
            </div>
          </ons-list-item>
        </ons-list>
        <div ng-style="{display: sc.history.length==0 ? 'contents':'none'}" style="height: 100%; background-color: white; text-align:center; padding-top: 20%">
        検索履歴なし
        </div>
      </section>

    </ons-page>
  </ons-template>

  <ons-template id="timeline.html">
    <ons-page ng-controller="TimeLineController as tl">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
          検索結果
        </div>
        <div class="right">
          <!--<ons-toolbar-button>
            <ons-icon icon="ion-plus"></ons-icon>
          </ons-toolbar-button>-->
        </div>
      </ons-toolbar>

      <section style="padding-top: 20px">
        <div style="padding: 1px 0 0 0;">
          <div class="card card--material">
            <div class="card__content">
              {{tl.time| date: "a hh時mm分"}} <span style="margin-left: 6px">{{tl.search_type}}</span>
              <div style="margin-top:5px"><span class="start_index">発</span><strong>{{tl.src}}</strong></div>
              <div style="margin-top:10px"><span class="dest_index">着</span><strong>{{tl.dest}}</strong></div>
            </div>
          </div>
        </div>
      </section>

      <section style="padding-top: 20px">
        <ons-list style="margin-bottom: 10px" ng-repeat="r in tl.result" class="plan-list list--inset list--material">
          <ons-list-item modifier="chevron tappable" class="plan" ng-click="tl.go_timelineDetail(r.timeline_detail)">
            <ons-row>
              <ons-col class="plan-left">
                <div class="plan-name">
                  {{r.start_time}}
                  <ons-icon style="color: gray" icon="fa-long-arrow-right"></ons-icon>
                  {{r.arrival_time}}
                  <span class="fast_index" ng-show="r.feature.fast">早</span>
                </div>

                <div class="plan-info">
                    <ons-icon class="plan-icon" icon="fa-clock-o"></ons-icon>{{r.time_required}}
                    <ons-icon class="plan-icon plan-fee" icon="fa-yen"></ons-icon>{{r.fee}}
                </div>

                <div class="plan-transportation">
                  <ons-icon ng-repeat="t in r.transportation track by $index" icon="{{tl.getTPIcon(t)}}">
                    <ons-icon ng-show="!$last" style="margin-right: 7px" icon="angle-right"></ons-icon>
                  </ons-icon>
                </div>
              </ons-col>

              <!--<ons-col width="0px" class="plan-center" style="backgroundColor: #ccc">
              </ons-col>-->

              <ons-col ng-style="{display: r.information.length == 0 ? 'none': 'inline'}" width="35%" class="plan-right">
                <div>
                  <span>
                    <img class="icon-label" src="./images/information.svg">
                    交通情報
                  </span>
                </div>
                <div class="plan-date">
                  <img ng-repeat="icon in r.information" style="margin-right: 6px; width: 23px; hwight: 23px" src="{{icon}}">
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>

        </ons-list>
      </section>

    </ons-page>
  </ons-template>

  <ons-template id="timeline_detail.html">
    <ons-page ng-controller="TimeLineDetailController as td">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>

        </div>
        <div class="center">
          ルート詳細
        </div>
        <div class="right">
        </div>
      </ons-toolbar>

      <section style="margin: 20px 0">
        <div style="padding: 1px 0 0 0;">
          <div class="card">
            <div class="card__content">
              <div style="margin-bottom: 10px">
                {{td.detail.time_required}} <span style="margin-left: 5px">{{td.detail.fee}}</span>
              </div>
              <div style="margin-top:5px"><span class="start_index">発</span><strong>{{td.detail.src}}</strong></div>
              <div style="margin-top:10px"><span class="dest_index">着</span><strong>{{td.detail.dest}}</strong></div>
            </div>
          </div>
        </div>
      </section>

      <section style="margin-bottom: 20px">
        <ons-list class="plan-list list--inset">
          <ons-list-item modifier="chevron tappable">
            <i style="margin-right: 20px">{{td.detail.start.time}}</i> {{td.detail.start.spot_name}}
          </ons-list-item>
        </ons-list>

        <div ng-repeat="w in td.detail.waypoint">
          <ons-row>
            <ons-col width="11%" class="plan-left">
              <div style="text-align: center; display: flex; align-items: center; width: 42px; height: 100%; font-size: 110%">
                <div style="position: relative; z-index: 1; left: 22px; background-color: white; height: 33px; width: 42px; padding: 5px; border: 1px solid">
                  <ons-icon ng-style='td.getTPColor("color", w.transportation)' icon="{{td.getTPIcon(w.transportation)}}"></ons-icon>
                  <div style="font-size: 80%">{{w.time_required}}</div>
                </div>
              </div>
            </ons-col>

            <ons-col width="6px" class="plan-center" ng-style='td.getTPColor("background-color", w.transportation)'>
            </ons-col>

            <ons-col style="padding: 15px 30px">
              <div style="min-height: 45px">
                {{w.transportation.text}}
                <div style="float: right" ng-show="td.showRoute(w.transportation)">
                  <ons-button ng-click="td.go_map($index)">
                    <ons-icon icon="map"></ons-icon>
                    経路
                  </ons-button>
                </div>
                <div ng-style="{display: w.information.length === 0 ? 'none': 'inline'}">
                  <br>
                  <span ng-repeat = "i in w.information">
                    <img class="icon-label" src="{{i.icon}}">
                    {{i.text}}<br>
                  </span>
                </div>
              </div>
              <div style="margin-top: 6px; text-align: right">{{w.fee}}</div>
            </ons-col>
          </ons-row>

          <ons-list class="plan-list list--inset">
            <ons-list-item ng-show="!$last">
              <i style="margin-right: 20px">{{w.arrival_time}}</i> {{w.spot_name}}
            </ons-list-item>
            <ons-list-item ng-show="$last" modifier="chevron tappable" ng-click="td.go_spot(w.spot_name)">
              <i style="margin-right: 20px">{{w.arrival_time}}</i> {{w.spot_name}}
            </ons-list-item>
          </ons-list>
        </div>
      </section>

    </ons-page>
  </ons-template>

  <ons-template id="map.html">
    <ons-page ng-controller="MapController as mp">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
          ルート
        </div>
        <div class="right">
          <ons-toolbar-button>
            <ons-icon ng-click="mp.goExMap(mp.map_url)" icon="ion-map"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <div id="map" style="height: 100%"></div>
    </ons-page>
  </ons-template>

  <ons-template id="spot.html">
    <ons-page ng-controller="SpotController as sp">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{sp.data.name}}</div>
      </ons-toolbar>

      <div class="spot-card" style='background-image: url("{{sp.data.img}}");'>
      </div>

      <ons-list class="list list--inset" style="margin-top: 20px;">
        <ons-list-item class="list-item-container">
          <div class="list-item-content">
            <div class="spot-label">住所</div>
            <span class="desc">{{sp.data.address}}</span>
          </div>
        </ons-list-item>
        <ons-list-item class="list-item-container">
          <div class="list-item-content">
            <div class="spot-label">営業時間</div>
            <span class="desc">{{sp.data.open_hours}}</span>
          </div>
        </ons-list-item>
        <ons-list-item class="list-item-container">
          <div class="list-item-content">
            <div class="spot-label">料金</div>
            <span class="desc">{{sp.data.fee}}</span>
          </div>
        </ons-list-item>
        <ons-list-item class="list-item-container">
          <div class="list-item-content">
            <div class="spot-label">概要</div>
            <span class="desc">{{sp.data.desc}}</span>
          </div>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-template>

  <ons-modal var="modal" direction="up">
    <div style="text-align: center">
      <p>
      <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Loading...
      </p>
    </div>
  </ons-modal>

</body>

</html>